html body {
  background-color: #373c42;
}
body.diyBgActive .diyw .diyweb {
  background-image: none !important;
  background-color: transparent !important;
}
.diyw .diyweb {
  background-color: transparent !important;
}
.diyw .diyweb,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA0,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA0,
.diyw .diyfeCA .diyfeCA .diyfeCA0,
.diyw .diyfeCA .diyfeCA0,
.diyw .diyfeCA0 {
  background-color: #373c42;
  color: #ebecec;
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
}
.diyw .diyweb h1,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA0 h1,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA0 h1,
.diyw .diyfeCA .diyfeCA .diyfeCA0 h1,
.diyw .diyfeCA .diyfeCA0 h1,
.diyw .diyfeCA0 h1 {
  color: #ebecec;
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 32px;
  font-weight: bold;
  text-align: left;
}
.diyw .diyweb h2,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA0 h2,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA0 h2,
.diyw .diyfeCA .diyfeCA .diyfeCA0 h2,
.diyw .diyfeCA .diyfeCA0 h2,
.diyw .diyfeCA0 h2 {
  color: #ebecec;
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 24px;
  font-weight: bold;
  text-align: left;
}
.diyw .diyweb p,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA0 p,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA0 p,
.diyw .diyfeCA .diyfeCA .diyfeCA0 p,
.diyw .diyfeCA .diyfeCA0 p,
.diyw .diyfeCA0 p {
  color: #ebecec;
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
}
.diyw .diyweb a,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA0 a,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA0 a,
.diyw .diyfeCA .diyfeCA .diyfeCA0 a,
.diyw .diyfeCA .diyfeCA0 a,
.diyw .diyfeCA0 a {
  color: #ebecec;
  font-style: normal;
  font-weight: normal;
}
.diyw .diyweb .diyfeLinkAsButton,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA0 .diyfeLinkAsButton,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA0 .diyfeLinkAsButton,
.diyw .diyfeCA .diyfeCA .diyfeCA0 .diyfeLinkAsButton,
.diyw .diyfeCA .diyfeCA0 .diyfeLinkAsButton,
.diyw .diyfeCA0 .diyfeLinkAsButton {
  background: #ebecec;
  color: #1d1d1d;
  border: solid 1px #ebecec;
}
.diyw .diyweb .mainNav1 a,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA0 .mainNav1 a,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA0 .mainNav1 a,
.diyw .diyfeCA .diyfeCA .diyfeCA0 .mainNav1 a,
.diyw .diyfeCA .diyfeCA0 .mainNav1 a,
.diyw .diyfeCA0 .mainNav1 a {
  color: #ebecec;
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
}
.diyw .diyweb .mainNav2 a,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA0 .mainNav2 a,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA0 .mainNav2 a,
.diyw .diyfeCA .diyfeCA .diyfeCA0 .mainNav2 a,
.diyw .diyfeCA .diyfeCA0 .mainNav2 a,
.diyw .diyfeCA0 .mainNav2 a {
  color: #ebecec;
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
}
.diyw .diyweb .hr,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA0 .hr,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA0 .hr,
.diyw .diyfeCA .diyfeCA .diyfeCA0 .hr,
.diyw .diyfeCA .diyfeCA0 .hr,
.diyw .diyfeCA0 .hr {
  border-color: #77808c;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA1,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA1,
.diyw .diyfeCA .diyfeCA .diyfeCA1,
.diyw .diyfeCA .diyfeCA1,
.diyw .diyfeCA1 {
  background-color: #212224;
  color: #a9abaf;
  font-family: 'Courier New', Courier, monospace;
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA1 h1,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA1 h1,
.diyw .diyfeCA .diyfeCA .diyfeCA1 h1,
.diyw .diyfeCA .diyfeCA1 h1,
.diyw .diyfeCA1 h1 {
  color: #e8e8e8;
  font-family: 'Courier New', Courier, monospace;
  font-style: normal;
  font-size: 32px;
  font-weight: bold;
  text-align: left;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA1 .h1-align,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA1 .h1-align,
.diyw .diyfeCA .diyfeCA .diyfeCA1 .h1-align,
.diyw .diyfeCA .diyfeCA1 .h1-align,
.diyw .diyfeCA1 .h1-align {
  text-align: left;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA1 h2,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA1 h2,
.diyw .diyfeCA .diyfeCA .diyfeCA1 h2,
.diyw .diyfeCA .diyfeCA1 h2,
.diyw .diyfeCA1 h2 {
  color: #d9dadb;
  font-family: 'Courier New', Courier, monospace;
  font-style: normal;
  font-size: 16px;
  font-weight: bold;
  text-align: left;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA1 .h2-align,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA1 .h2-align,
.diyw .diyfeCA .diyfeCA .diyfeCA1 .h2-align,
.diyw .diyfeCA .diyfeCA1 .h2-align,
.diyw .diyfeCA1 .h2-align {
  text-align: left;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA1 p,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA1 p,
.diyw .diyfeCA .diyfeCA .diyfeCA1 p,
.diyw .diyfeCA .diyfeCA1 p,
.diyw .diyfeCA1 p {
  color: #a9abaf;
  font-family: 'Courier New', Courier, monospace;
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA1 a,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA1 a,
.diyw .diyfeCA .diyfeCA .diyfeCA1 a,
.diyw .diyfeCA .diyfeCA1 a,
.diyw .diyfeCA1 a {
  color: #e8e8e8;
  font-style: normal;
  font-weight: normal;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA1 .diyfeLinkAsButton,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA1 .diyfeLinkAsButton,
.diyw .diyfeCA .diyfeCA .diyfeCA1 .diyfeLinkAsButton,
.diyw .diyfeCA .diyfeCA1 .diyfeLinkAsButton,
.diyw .diyfeCA1 .diyfeLinkAsButton {
  background: #e8e8e8;
  color: #191919;
  border: solid 1px #e8e8e8;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA1 .mainNav1 a,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA1 .mainNav1 a,
.diyw .diyfeCA .diyfeCA .diyfeCA1 .mainNav1 a,
.diyw .diyfeCA .diyfeCA1 .mainNav1 a,
.diyw .diyfeCA1 .mainNav1 a {
  color: #d9dadb;
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA1 .mainNav2 a,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA1 .mainNav2 a,
.diyw .diyfeCA .diyfeCA .diyfeCA1 .mainNav2 a,
.diyw .diyfeCA .diyfeCA1 .mainNav2 a,
.diyw .diyfeCA1 .mainNav2 a {
  color: #d9dadb;
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA1 .hr,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA1 .hr,
.diyw .diyfeCA .diyfeCA .diyfeCA1 .hr,
.diyw .diyfeCA .diyfeCA1 .hr,
.diyw .diyfeCA1 .hr {
  border-color: #63666c;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA2,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA2,
.diyw .diyfeCA .diyfeCA .diyfeCA2,
.diyw .diyfeCA .diyfeCA2,
.diyw .diyfeCA2 {
  background-color: #e8e8e8;
  color: #303030;
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA2 h1,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA2 h1,
.diyw .diyfeCA .diyfeCA .diyfeCA2 h1,
.diyw .diyfeCA .diyfeCA2 h1,
.diyw .diyfeCA2 h1 {
  color: #303030;
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 32px;
  font-weight: bold;
  text-align: left;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA2 h2,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA2 h2,
.diyw .diyfeCA .diyfeCA .diyfeCA2 h2,
.diyw .diyfeCA .diyfeCA2 h2,
.diyw .diyfeCA2 h2 {
  color: #303030;
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 24px;
  font-weight: bold;
  text-align: left;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA2 p,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA2 p,
.diyw .diyfeCA .diyfeCA .diyfeCA2 p,
.diyw .diyfeCA .diyfeCA2 p,
.diyw .diyfeCA2 p {
  color: #303030;
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA2 a,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA2 a,
.diyw .diyfeCA .diyfeCA .diyfeCA2 a,
.diyw .diyfeCA .diyfeCA2 a,
.diyw .diyfeCA2 a {
  color: #303030;
  font-style: normal;
  font-weight: normal;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA2 .diyfeLinkAsButton,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA2 .diyfeLinkAsButton,
.diyw .diyfeCA .diyfeCA .diyfeCA2 .diyfeLinkAsButton,
.diyw .diyfeCA .diyfeCA2 .diyfeLinkAsButton,
.diyw .diyfeCA2 .diyfeLinkAsButton {
  background: #303030;
  color: #eaeaea;
  border: solid 1px #303030;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA2 .mainNav1 a,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA2 .mainNav1 a,
.diyw .diyfeCA .diyfeCA .diyfeCA2 .mainNav1 a,
.diyw .diyfeCA .diyfeCA2 .mainNav1 a,
.diyw .diyfeCA2 .mainNav1 a {
  color: #989898;
  font-family: 'Courier New', Courier, monospace;
  font-style: normal;
  font-size: 16px;
  font-weight: normal;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA2 .mainNav2 a,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA2 .mainNav2 a,
.diyw .diyfeCA .diyfeCA .diyfeCA2 .mainNav2 a,
.diyw .diyfeCA .diyfeCA2 .mainNav2 a,
.diyw .diyfeCA2 .mainNav2 a {
  color: #303030;
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA2 .hr,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA2 .hr,
.diyw .diyfeCA .diyfeCA .diyfeCA2 .hr,
.diyw .diyfeCA .diyfeCA2 .hr,
.diyw .diyfeCA2 .hr {
  border-color: #a3a3a3;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA3,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA3,
.diyw .diyfeCA .diyfeCA .diyfeCA3,
.diyw .diyfeCA .diyfeCA3,
.diyw .diyfeCA3 {
  background-color: #28292b;
  color: #828489;
  font-family: 'Courier New', Courier, monospace;
  font-style: normal;
  font-size: 12px;
  font-weight: normal;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA3 h1,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA3 h1,
.diyw .diyfeCA .diyfeCA .diyfeCA3 h1,
.diyw .diyfeCA .diyfeCA3 h1,
.diyw .diyfeCA3 h1 {
  color: #e8e8e8;
  font-family: 'Courier New', Courier, monospace;
  font-style: normal;
  font-size: 28px;
  font-weight: bold;
  text-align: left;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA3 h2,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA3 h2,
.diyw .diyfeCA .diyfeCA .diyfeCA3 h2,
.diyw .diyfeCA .diyfeCA3 h2,
.diyw .diyfeCA3 h2 {
  color: #e8e8e8;
  font-family: 'Courier New', Courier, monospace;
  font-style: normal;
  font-size: 16px;
  font-weight: bold;
  text-align: left;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA3 p,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA3 p,
.diyw .diyfeCA .diyfeCA .diyfeCA3 p,
.diyw .diyfeCA .diyfeCA3 p,
.diyw .diyfeCA3 p {
  color: #828489;
  font-family: 'Courier New', Courier, monospace;
  font-style: normal;
  font-size: 12px;
  font-weight: normal;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA3 a,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA3 a,
.diyw .diyfeCA .diyfeCA .diyfeCA3 a,
.diyw .diyfeCA .diyfeCA3 a,
.diyw .diyfeCA3 a {
  color: #e8e8e8;
  font-style: normal;
  font-weight: normal;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA3 .diyfeLinkAsButton,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA3 .diyfeLinkAsButton,
.diyw .diyfeCA .diyfeCA .diyfeCA3 .diyfeLinkAsButton,
.diyw .diyfeCA .diyfeCA3 .diyfeLinkAsButton,
.diyw .diyfeCA3 .diyfeLinkAsButton {
  background: #e8e8e8;
  color: #191919;
  border: solid 1px #e8e8e8;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA3 .mainNav1 a,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA3 .mainNav1 a,
.diyw .diyfeCA .diyfeCA .diyfeCA3 .mainNav1 a,
.diyw .diyfeCA .diyfeCA3 .mainNav1 a,
.diyw .diyfeCA3 .mainNav1 a {
  color: #e1e1e2;
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA3 .mainNav2 a,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA3 .mainNav2 a,
.diyw .diyfeCA .diyfeCA .diyfeCA3 .mainNav2 a,
.diyw .diyfeCA .diyfeCA3 .mainNav2 a,
.diyw .diyfeCA3 .mainNav2 a {
  color: #999b9f;
  font-family: 'Courier New', Courier, monospace;
  font-style: normal;
  font-size: 16px;
  font-weight: normal;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA3 .hr,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA3 .hr,
.diyw .diyfeCA .diyfeCA .diyfeCA3 .hr,
.diyw .diyfeCA .diyfeCA3 .hr,
.diyw .diyfeCA3 .hr {
  border-color: #6a6d72;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA4,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA4,
.diyw .diyfeCA .diyfeCA .diyfeCA4,
.diyw .diyfeCA .diyfeCA4,
.diyw .diyfeCA4 {
  background-color: #171717;
  color: #a1a1a1;
  font-family: 'Courier New', Courier, monospace;
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA4 h1,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA4 h1,
.diyw .diyfeCA .diyfeCA .diyfeCA4 h1,
.diyw .diyfeCA .diyfeCA4 h1,
.diyw .diyfeCA4 h1 {
  color: #cfcfcf;
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 32px;
  font-weight: bold;
  text-align: left;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA4 h2,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA4 h2,
.diyw .diyfeCA .diyfeCA .diyfeCA4 h2,
.diyw .diyfeCA .diyfeCA4 h2,
.diyw .diyfeCA4 h2 {
  color: #cfcfcf;
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 24px;
  font-weight: bold;
  text-align: left;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA4 p,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA4 p,
.diyw .diyfeCA .diyfeCA .diyfeCA4 p,
.diyw .diyfeCA .diyfeCA4 p,
.diyw .diyfeCA4 p {
  color: #a1a1a1;
  font-family: 'Courier New', Courier, monospace;
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA4 a,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA4 a,
.diyw .diyfeCA .diyfeCA .diyfeCA4 a,
.diyw .diyfeCA .diyfeCA4 a,
.diyw .diyfeCA4 a {
  color: #a1a1a1;
  font-style: normal;
  font-weight: normal;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA4 .diyfeLinkAsButton,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA4 .diyfeLinkAsButton,
.diyw .diyfeCA .diyfeCA .diyfeCA4 .diyfeLinkAsButton,
.diyw .diyfeCA .diyfeCA4 .diyfeLinkAsButton,
.diyw .diyfeCA4 .diyfeLinkAsButton {
  background: #a1a1a1;
  color: #101010;
  border: solid 1px #a1a1a1;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA4 .mainNav1 a,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA4 .mainNav1 a,
.diyw .diyfeCA .diyfeCA .diyfeCA4 .mainNav1 a,
.diyw .diyfeCA .diyfeCA4 .mainNav1 a,
.diyw .diyfeCA4 .mainNav1 a {
  color: #cfcfcf;
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA4 .mainNav2 a,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA4 .mainNav2 a,
.diyw .diyfeCA .diyfeCA .diyfeCA4 .mainNav2 a,
.diyw .diyfeCA .diyfeCA4 .mainNav2 a,
.diyw .diyfeCA4 .mainNav2 a {
  color: #cfcfcf;
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA4 .hr,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA4 .hr,
.diyw .diyfeCA .diyfeCA .diyfeCA4 .hr,
.diyw .diyfeCA .diyfeCA4 .hr,
.diyw .diyfeCA4 .hr {
  border-color: #5c5c5c;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
.diyw .diyweb div#contentfooter {
  font-size: inherit;
  font-weight: inherit;
}
.diyw #website-logo a {
  text-decoration: none !important;
}
.diyw .diyfeCA0 #website-logo p.website-logo-text,
.diyw .diyfeCA0 #website-logo p.website-logo-text a {
  color: #ebecec !important;
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
}
.diyw .diyfeCA1 #website-logo p.website-logo-text,
.diyw .diyfeCA1 #website-logo p.website-logo-text a {
  color: #a9abaf !important;
  font-family: 'Courier New', Courier, monospace;
}
.diyw .diyfeCA2 #website-logo p.website-logo-text,
.diyw .diyfeCA2 #website-logo p.website-logo-text a {
  color: #989898 !important;
  font-family: 'Courier New', Courier, monospace;
}
.diyw .diyfeCA3 #website-logo p.website-logo-text,
.diyw .diyfeCA3 #website-logo p.website-logo-text a {
  color: #828489 !important;
  font-family: 'Courier New', Courier, monospace;
}
.diyw .diyfeCA4 #website-logo p.website-logo-text,
.diyw .diyfeCA4 #website-logo p.website-logo-text a {
  color: #a1a1a1 !important;
  font-family: 'Courier New', Courier, monospace;
}
.diyw .diyfeLinkAsButton {
  border: 1px solid;
  border-radius: 5px;
  display: inline-block;
  padding: 8px 15px;
  text-decoration: none !important;
}
.diyw .diyfeLinkAsButton:hover {
  box-shadow: 0 0 0 2px inset;
}
.diyw .imageSubtitle {
  min-width: 30px;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor0,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor0,
.diyw .diyfeArea .diyfeArea .diyfeColor0,
.diyw .diyfeArea .diyfeColor0,
.diyw .diyfeColor0 {
  background-color: #373c42;
  color: #ebecec;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor0 h1,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor0 h1,
.diyw .diyfeArea .diyfeArea .diyfeColor0 h1,
.diyw .diyfeArea .diyfeColor0 h1,
.diyw .diyfeColor0 h1 {
  color: #ebecec;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor0 h2,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor0 h2,
.diyw .diyfeArea .diyfeArea .diyfeColor0 h2,
.diyw .diyfeArea .diyfeColor0 h2,
.diyw .diyfeColor0 h2 {
  color: #ebecec;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor0 p,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor0 p,
.diyw .diyfeArea .diyfeArea .diyfeColor0 p,
.diyw .diyfeArea .diyfeColor0 p,
.diyw .diyfeColor0 p {
  color: #ebecec;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor0 a,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor0 a,
.diyw .diyfeArea .diyfeArea .diyfeColor0 a,
.diyw .diyfeArea .diyfeColor0 a,
.diyw .diyfeColor0 a {
  color: #ebecec;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor0 .diyfeLinkAsButton,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor0 .diyfeLinkAsButton,
.diyw .diyfeArea .diyfeArea .diyfeColor0 .diyfeLinkAsButton,
.diyw .diyfeArea .diyfeColor0 .diyfeLinkAsButton,
.diyw .diyfeColor0 .diyfeLinkAsButton {
  background: #ebecec;
  color: #1d1d1d;
  border: solid 1px #ebecec;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor0 .mainNav1 a,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor0 .mainNav1 a,
.diyw .diyfeArea .diyfeArea .diyfeColor0 .mainNav1 a,
.diyw .diyfeArea .diyfeColor0 .mainNav1 a,
.diyw .diyfeColor0 .mainNav1 a {
  color: #ebecec;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor0 .mainNav2 a,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor0 .mainNav2 a,
.diyw .diyfeArea .diyfeArea .diyfeColor0 .mainNav2 a,
.diyw .diyfeArea .diyfeColor0 .mainNav2 a,
.diyw .diyfeColor0 .mainNav2 a {
  color: #ebecec;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor0 .hr,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor0 .hr,
.diyw .diyfeArea .diyfeArea .diyfeColor0 .hr,
.diyw .diyfeArea .diyfeColor0 .hr,
.diyw .diyfeColor0 .hr {
  border-color: #77808c;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor1,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor1,
.diyw .diyfeArea .diyfeArea .diyfeColor1,
.diyw .diyfeArea .diyfeColor1,
.diyw .diyfeColor1 {
  background-color: #212224;
  color: #a9abaf;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor1 h1,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor1 h1,
.diyw .diyfeArea .diyfeArea .diyfeColor1 h1,
.diyw .diyfeArea .diyfeColor1 h1,
.diyw .diyfeColor1 h1 {
  color: #e8e8e8;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor1 h2,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor1 h2,
.diyw .diyfeArea .diyfeArea .diyfeColor1 h2,
.diyw .diyfeArea .diyfeColor1 h2,
.diyw .diyfeColor1 h2 {
  color: #d9dadb;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor1 p,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor1 p,
.diyw .diyfeArea .diyfeArea .diyfeColor1 p,
.diyw .diyfeArea .diyfeColor1 p,
.diyw .diyfeColor1 p {
  color: #a9abaf;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor1 a,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor1 a,
.diyw .diyfeArea .diyfeArea .diyfeColor1 a,
.diyw .diyfeArea .diyfeColor1 a,
.diyw .diyfeColor1 a {
  color: #e8e8e8;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor1 .diyfeLinkAsButton,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor1 .diyfeLinkAsButton,
.diyw .diyfeArea .diyfeArea .diyfeColor1 .diyfeLinkAsButton,
.diyw .diyfeArea .diyfeColor1 .diyfeLinkAsButton,
.diyw .diyfeColor1 .diyfeLinkAsButton {
  background: #e8e8e8;
  color: #191919;
  border: solid 1px #e8e8e8;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor1 .mainNav1 a,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor1 .mainNav1 a,
.diyw .diyfeArea .diyfeArea .diyfeColor1 .mainNav1 a,
.diyw .diyfeArea .diyfeColor1 .mainNav1 a,
.diyw .diyfeColor1 .mainNav1 a {
  color: #d9dadb;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor1 .mainNav2 a,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor1 .mainNav2 a,
.diyw .diyfeArea .diyfeArea .diyfeColor1 .mainNav2 a,
.diyw .diyfeArea .diyfeColor1 .mainNav2 a,
.diyw .diyfeColor1 .mainNav2 a {
  color: #d9dadb;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor1 .hr,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor1 .hr,
.diyw .diyfeArea .diyfeArea .diyfeColor1 .hr,
.diyw .diyfeArea .diyfeColor1 .hr,
.diyw .diyfeColor1 .hr {
  border-color: #63666c;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor2,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor2,
.diyw .diyfeArea .diyfeArea .diyfeColor2,
.diyw .diyfeArea .diyfeColor2,
.diyw .diyfeColor2 {
  background-color: #e8e8e8;
  color: #303030;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor2 h1,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor2 h1,
.diyw .diyfeArea .diyfeArea .diyfeColor2 h1,
.diyw .diyfeArea .diyfeColor2 h1,
.diyw .diyfeColor2 h1 {
  color: #303030;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor2 h2,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor2 h2,
.diyw .diyfeArea .diyfeArea .diyfeColor2 h2,
.diyw .diyfeArea .diyfeColor2 h2,
.diyw .diyfeColor2 h2 {
  color: #303030;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor2 p,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor2 p,
.diyw .diyfeArea .diyfeArea .diyfeColor2 p,
.diyw .diyfeArea .diyfeColor2 p,
.diyw .diyfeColor2 p {
  color: #303030;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor2 a,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor2 a,
.diyw .diyfeArea .diyfeArea .diyfeColor2 a,
.diyw .diyfeArea .diyfeColor2 a,
.diyw .diyfeColor2 a {
  color: #303030;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor2 .diyfeLinkAsButton,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor2 .diyfeLinkAsButton,
.diyw .diyfeArea .diyfeArea .diyfeColor2 .diyfeLinkAsButton,
.diyw .diyfeArea .diyfeColor2 .diyfeLinkAsButton,
.diyw .diyfeColor2 .diyfeLinkAsButton {
  background: #303030;
  color: #eaeaea;
  border: solid 1px #303030;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor2 .mainNav1 a,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor2 .mainNav1 a,
.diyw .diyfeArea .diyfeArea .diyfeColor2 .mainNav1 a,
.diyw .diyfeArea .diyfeColor2 .mainNav1 a,
.diyw .diyfeColor2 .mainNav1 a {
  color: #989898;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor2 .mainNav2 a,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor2 .mainNav2 a,
.diyw .diyfeArea .diyfeArea .diyfeColor2 .mainNav2 a,
.diyw .diyfeArea .diyfeColor2 .mainNav2 a,
.diyw .diyfeColor2 .mainNav2 a {
  color: #303030;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor2 .hr,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor2 .hr,
.diyw .diyfeArea .diyfeArea .diyfeColor2 .hr,
.diyw .diyfeArea .diyfeColor2 .hr,
.diyw .diyfeColor2 .hr {
  border-color: #a3a3a3;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor3,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor3,
.diyw .diyfeArea .diyfeArea .diyfeColor3,
.diyw .diyfeArea .diyfeColor3,
.diyw .diyfeColor3 {
  background-color: #28292b;
  color: #828489;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor3 h1,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor3 h1,
.diyw .diyfeArea .diyfeArea .diyfeColor3 h1,
.diyw .diyfeArea .diyfeColor3 h1,
.diyw .diyfeColor3 h1 {
  color: #e8e8e8;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor3 h2,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor3 h2,
.diyw .diyfeArea .diyfeArea .diyfeColor3 h2,
.diyw .diyfeArea .diyfeColor3 h2,
.diyw .diyfeColor3 h2 {
  color: #e8e8e8;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor3 p,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor3 p,
.diyw .diyfeArea .diyfeArea .diyfeColor3 p,
.diyw .diyfeArea .diyfeColor3 p,
.diyw .diyfeColor3 p {
  color: #828489;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor3 a,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor3 a,
.diyw .diyfeArea .diyfeArea .diyfeColor3 a,
.diyw .diyfeArea .diyfeColor3 a,
.diyw .diyfeColor3 a {
  color: #e8e8e8;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor3 .diyfeLinkAsButton,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor3 .diyfeLinkAsButton,
.diyw .diyfeArea .diyfeArea .diyfeColor3 .diyfeLinkAsButton,
.diyw .diyfeArea .diyfeColor3 .diyfeLinkAsButton,
.diyw .diyfeColor3 .diyfeLinkAsButton {
  background: #e8e8e8;
  color: #191919;
  border: solid 1px #e8e8e8;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor3 .mainNav1 a,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor3 .mainNav1 a,
.diyw .diyfeArea .diyfeArea .diyfeColor3 .mainNav1 a,
.diyw .diyfeArea .diyfeColor3 .mainNav1 a,
.diyw .diyfeColor3 .mainNav1 a {
  color: #e1e1e2;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor3 .mainNav2 a,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor3 .mainNav2 a,
.diyw .diyfeArea .diyfeArea .diyfeColor3 .mainNav2 a,
.diyw .diyfeArea .diyfeColor3 .mainNav2 a,
.diyw .diyfeColor3 .mainNav2 a {
  color: #999b9f;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor3 .hr,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor3 .hr,
.diyw .diyfeArea .diyfeArea .diyfeColor3 .hr,
.diyw .diyfeArea .diyfeColor3 .hr,
.diyw .diyfeColor3 .hr {
  border-color: #6a6d72;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor4,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor4,
.diyw .diyfeArea .diyfeArea .diyfeColor4,
.diyw .diyfeArea .diyfeColor4,
.diyw .diyfeColor4 {
  background-color: #171717;
  color: #a1a1a1;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor4 h1,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor4 h1,
.diyw .diyfeArea .diyfeArea .diyfeColor4 h1,
.diyw .diyfeArea .diyfeColor4 h1,
.diyw .diyfeColor4 h1 {
  color: #cfcfcf;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor4 h2,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor4 h2,
.diyw .diyfeArea .diyfeArea .diyfeColor4 h2,
.diyw .diyfeArea .diyfeColor4 h2,
.diyw .diyfeColor4 h2 {
  color: #cfcfcf;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor4 p,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor4 p,
.diyw .diyfeArea .diyfeArea .diyfeColor4 p,
.diyw .diyfeArea .diyfeColor4 p,
.diyw .diyfeColor4 p {
  color: #a1a1a1;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor4 a,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor4 a,
.diyw .diyfeArea .diyfeArea .diyfeColor4 a,
.diyw .diyfeArea .diyfeColor4 a,
.diyw .diyfeColor4 a {
  color: #a1a1a1;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor4 .diyfeLinkAsButton,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor4 .diyfeLinkAsButton,
.diyw .diyfeArea .diyfeArea .diyfeColor4 .diyfeLinkAsButton,
.diyw .diyfeArea .diyfeColor4 .diyfeLinkAsButton,
.diyw .diyfeColor4 .diyfeLinkAsButton {
  background: #a1a1a1;
  color: #101010;
  border: solid 1px #a1a1a1;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor4 .mainNav1 a,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor4 .mainNav1 a,
.diyw .diyfeArea .diyfeArea .diyfeColor4 .mainNav1 a,
.diyw .diyfeArea .diyfeColor4 .mainNav1 a,
.diyw .diyfeColor4 .mainNav1 a {
  color: #cfcfcf;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor4 .mainNav2 a,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor4 .mainNav2 a,
.diyw .diyfeArea .diyfeArea .diyfeColor4 .mainNav2 a,
.diyw .diyfeArea .diyfeColor4 .mainNav2 a,
.diyw .diyfeColor4 .mainNav2 a {
  color: #cfcfcf;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor4 .hr,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor4 .hr,
.diyw .diyfeArea .diyfeArea .diyfeColor4 .hr,
.diyw .diyfeArea .diyfeColor4 .hr,
.diyw .diyfeColor4 .hr {
  border-color: #5c5c5c;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeFont0,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeFont0,
.diyw .diyfeArea .diyfeArea .diyfeFont0,
.diyw .diyfeArea .diyfeFont0,
.diyw .diyfeFont0 {
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeFont0 h1,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeFont0 h1,
.diyw .diyfeArea .diyfeArea .diyfeFont0 h1,
.diyw .diyfeArea .diyfeFont0 h1,
.diyw .diyfeFont0 h1 {
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 32px;
  font-weight: bold;
  text-align: left;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeFont0 h2,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeFont0 h2,
.diyw .diyfeArea .diyfeArea .diyfeFont0 h2,
.diyw .diyfeArea .diyfeFont0 h2,
.diyw .diyfeFont0 h2 {
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 24px;
  font-weight: bold;
  text-align: left;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeFont0 p,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeFont0 p,
.diyw .diyfeArea .diyfeArea .diyfeFont0 p,
.diyw .diyfeArea .diyfeFont0 p,
.diyw .diyfeFont0 p {
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeFont0 a,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeFont0 a,
.diyw .diyfeArea .diyfeArea .diyfeFont0 a,
.diyw .diyfeArea .diyfeFont0 a,
.diyw .diyfeFont0 a {
  font-style: normal;
  font-weight: normal;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeFont0 .mainNav1 a,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeFont0 .mainNav1 a,
.diyw .diyfeArea .diyfeArea .diyfeFont0 .mainNav1 a,
.diyw .diyfeArea .diyfeFont0 .mainNav1 a,
.diyw .diyfeFont0 .mainNav1 a {
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeFont0 .mainNav2 a,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeFont0 .mainNav2 a,
.diyw .diyfeArea .diyfeArea .diyfeFont0 .mainNav2 a,
.diyw .diyfeArea .diyfeFont0 .mainNav2 a,
.diyw .diyfeFont0 .mainNav2 a {
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeFont1,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeFont1,
.diyw .diyfeArea .diyfeArea .diyfeFont1,
.diyw .diyfeArea .diyfeFont1,
.diyw .diyfeFont1 {
  font-family: 'Courier New', Courier, monospace;
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeFont1 h1,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeFont1 h1,
.diyw .diyfeArea .diyfeArea .diyfeFont1 h1,
.diyw .diyfeArea .diyfeFont1 h1,
.diyw .diyfeFont1 h1 {
  font-family: 'Courier New', Courier, monospace;
  font-style: normal;
  font-size: 32px;
  font-weight: bold;
  text-align: left;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeFont1 h2,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeFont1 h2,
.diyw .diyfeArea .diyfeArea .diyfeFont1 h2,
.diyw .diyfeArea .diyfeFont1 h2,
.diyw .diyfeFont1 h2 {
  font-family: 'Courier New', Courier, monospace;
  font-style: normal;
  font-size: 16px;
  font-weight: bold;
  text-align: left;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeFont1 p,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeFont1 p,
.diyw .diyfeArea .diyfeArea .diyfeFont1 p,
.diyw .diyfeArea .diyfeFont1 p,
.diyw .diyfeFont1 p {
  font-family: 'Courier New', Courier, monospace;
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeFont1 a,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeFont1 a,
.diyw .diyfeArea .diyfeArea .diyfeFont1 a,
.diyw .diyfeArea .diyfeFont1 a,
.diyw .diyfeFont1 a {
  font-style: normal;
  font-weight: normal;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeFont1 .mainNav1 a,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeFont1 .mainNav1 a,
.diyw .diyfeArea .diyfeArea .diyfeFont1 .mainNav1 a,
.diyw .diyfeArea .diyfeFont1 .mainNav1 a,
.diyw .diyfeFont1 .mainNav1 a {
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeFont1 .mainNav2 a,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeFont1 .mainNav2 a,
.diyw .diyfeArea .diyfeArea .diyfeFont1 .mainNav2 a,
.diyw .diyfeArea .diyfeFont1 .mainNav2 a,
.diyw .diyfeFont1 .mainNav2 a {
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeFont2,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeFont2,
.diyw .diyfeArea .diyfeArea .diyfeFont2,
.diyw .diyfeArea .diyfeFont2,
.diyw .diyfeFont2 {
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeFont2 h1,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeFont2 h1,
.diyw .diyfeArea .diyfeArea .diyfeFont2 h1,
.diyw .diyfeArea .diyfeFont2 h1,
.diyw .diyfeFont2 h1 {
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 32px;
  font-weight: bold;
  text-align: left;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeFont2 h2,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeFont2 h2,
.diyw .diyfeArea .diyfeArea .diyfeFont2 h2,
.diyw .diyfeArea .diyfeFont2 h2,
.diyw .diyfeFont2 h2 {
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 24px;
  font-weight: bold;
  text-align: left;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeFont2 p,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeFont2 p,
.diyw .diyfeArea .diyfeArea .diyfeFont2 p,
.diyw .diyfeArea .diyfeFont2 p,
.diyw .diyfeFont2 p {
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeFont2 a,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeFont2 a,
.diyw .diyfeArea .diyfeArea .diyfeFont2 a,
.diyw .diyfeArea .diyfeFont2 a,
.diyw .diyfeFont2 a {
  font-style: normal;
  font-weight: normal;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeFont2 .mainNav1 a,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeFont2 .mainNav1 a,
.diyw .diyfeArea .diyfeArea .diyfeFont2 .mainNav1 a,
.diyw .diyfeArea .diyfeFont2 .mainNav1 a,
.diyw .diyfeFont2 .mainNav1 a {
  font-family: 'Courier New', Courier, monospace;
  font-style: normal;
  font-size: 16px;
  font-weight: normal;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeFont2 .mainNav2 a,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeFont2 .mainNav2 a,
.diyw .diyfeArea .diyfeArea .diyfeFont2 .mainNav2 a,
.diyw .diyfeArea .diyfeFont2 .mainNav2 a,
.diyw .diyfeFont2 .mainNav2 a {
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeFont3,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeFont3,
.diyw .diyfeArea .diyfeArea .diyfeFont3,
.diyw .diyfeArea .diyfeFont3,
.diyw .diyfeFont3 {
  font-family: 'Courier New', Courier, monospace;
  font-style: normal;
  font-size: 12px;
  font-weight: normal;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeFont3 h1,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeFont3 h1,
.diyw .diyfeArea .diyfeArea .diyfeFont3 h1,
.diyw .diyfeArea .diyfeFont3 h1,
.diyw .diyfeFont3 h1 {
  font-family: 'Courier New', Courier, monospace;
  font-style: normal;
  font-size: 28px;
  font-weight: bold;
  text-align: left;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeFont3 h2,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeFont3 h2,
.diyw .diyfeArea .diyfeArea .diyfeFont3 h2,
.diyw .diyfeArea .diyfeFont3 h2,
.diyw .diyfeFont3 h2 {
  font-family: 'Courier New', Courier, monospace;
  font-style: normal;
  font-size: 16px;
  font-weight: bold;
  text-align: left;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeFont3 p,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeFont3 p,
.diyw .diyfeArea .diyfeArea .diyfeFont3 p,
.diyw .diyfeArea .diyfeFont3 p,
.diyw .diyfeFont3 p {
  font-family: 'Courier New', Courier, monospace;
  font-style: normal;
  font-size: 12px;
  font-weight: normal;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeFont3 a,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeFont3 a,
.diyw .diyfeArea .diyfeArea .diyfeFont3 a,
.diyw .diyfeArea .diyfeFont3 a,
.diyw .diyfeFont3 a {
  font-style: normal;
  font-weight: normal;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeFont3 .mainNav1 a,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeFont3 .mainNav1 a,
.diyw .diyfeArea .diyfeArea .diyfeFont3 .mainNav1 a,
.diyw .diyfeArea .diyfeFont3 .mainNav1 a,
.diyw .diyfeFont3 .mainNav1 a {
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeFont3 .mainNav2 a,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeFont3 .mainNav2 a,
.diyw .diyfeArea .diyfeArea .diyfeFont3 .mainNav2 a,
.diyw .diyfeArea .diyfeFont3 .mainNav2 a,
.diyw .diyfeFont3 .mainNav2 a {
  font-family: 'Courier New', Courier, monospace;
  font-style: normal;
  font-size: 16px;
  font-weight: normal;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeFont4,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeFont4,
.diyw .diyfeArea .diyfeArea .diyfeFont4,
.diyw .diyfeArea .diyfeFont4,
.diyw .diyfeFont4 {
  font-family: 'Courier New', Courier, monospace;
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeFont4 h1,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeFont4 h1,
.diyw .diyfeArea .diyfeArea .diyfeFont4 h1,
.diyw .diyfeArea .diyfeFont4 h1,
.diyw .diyfeFont4 h1 {
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 32px;
  font-weight: bold;
  text-align: left;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeFont4 h2,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeFont4 h2,
.diyw .diyfeArea .diyfeArea .diyfeFont4 h2,
.diyw .diyfeArea .diyfeFont4 h2,
.diyw .diyfeFont4 h2 {
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 24px;
  font-weight: bold;
  text-align: left;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeFont4 p,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeFont4 p,
.diyw .diyfeArea .diyfeArea .diyfeFont4 p,
.diyw .diyfeArea .diyfeFont4 p,
.diyw .diyfeFont4 p {
  font-family: 'Courier New', Courier, monospace;
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeFont4 a,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeFont4 a,
.diyw .diyfeArea .diyfeArea .diyfeFont4 a,
.diyw .diyfeArea .diyfeFont4 a,
.diyw .diyfeFont4 a {
  font-style: normal;
  font-weight: normal;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeFont4 .mainNav1 a,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeFont4 .mainNav1 a,
.diyw .diyfeArea .diyfeArea .diyfeFont4 .mainNav1 a,
.diyw .diyfeArea .diyfeFont4 .mainNav1 a,
.diyw .diyfeFont4 .mainNav1 a {
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeFont4 .mainNav2 a,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeFont4 .mainNav2 a,
.diyw .diyfeArea .diyfeArea .diyfeFont4 .mainNav2 a,
.diyw .diyfeArea .diyfeFont4 .mainNav2 a,
.diyw .diyfeFont4 .mainNav2 a {
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
}
body.startpage .diyw .diywebFooter .webnavigation a,
body.startpage .diyw .diywebFooter .diywebNav a {
  color: #a1a1a1 !important;
  font-family: 'Courier New', Courier, monospace !important;
  font-size: 14px !important;
}
body.facebookTab .diyw #diyFbBoxPage {
  margin-left: 0 !important;
  width: 100% !important;
  overflow: auto !important;
}
body.facebookTab .diyw #diyFbBoxWin,
body.facebookTab .diyw #diyFbBoxPage,
body.facebookTab .diyw #diyFbBoxBody,
body.facebookTab .diyw .diyweb {
  height: 100% !important;
}
body.facebookTab .diyw .diywebEmotionHeader,
body.facebookTab .diyw .diywebHeader,
body.facebookTab .diyw .diywebFond,
body.facebookTab .diyw .diywebSecondary,
body.facebookTab .diyw .diywebSidebar,
body.facebookTab .diyw .diywebFooter,
body.facebookTab .diyw .diywebContent .diyfeGridGroup:before,
body.facebookTab .diyw .diywebNav {
  display: none;
}
body.facebookTab .diyw .diywebMain {
  width: auto;
  float: none;
  padding-top: 0.1px;
}
body.facebookTab .diyw .diywebLiveArea,
body.facebookTab .diyw .diyweb:before {
  width: auto;
}
body.facebookTab .diyw .diyweb {
  height: 100%;
  box-sizing: border-box;
  padding-left: 40px;
  padding-right: 40px;
}
body.facebookTab .diyw .diywebContainer {
  width: auto;
  box-sizing: border-box;
}
body.facebookTab .diyw {
  height: 100%;
  box-sizing: border-box;
}
body.facebookTab .diyw #diyFbBoxBody div.sortable-matrix {
  width: auto !important;
}
.diyw .diyApp .app-border {
  border: solid 1px #63666c;
}
.diyw .diyApp .app-rounded {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.diyw .diyApp .app-gradient {
  background: #63666c;
  background: -webkit-gradient(linear,left bottom,left top,color-stop(0,#63666c),color-stop(1,#96999f));
  background: -ms-linear-gradient(bottom,#63666c,#96999f);
  background: -moz-linear-gradient(center bottom,#63666c 0%,#96999f 100%);
  background: -o-linear-gradient(#96999f,#63666c);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#96999f', endColorstr='#63666c', GradientType=0);
}
.diyw .diyApp [class^="icon-"],
.diyw .diyApp [class*=" icon-"] {
  color: #a9abaf !important;
}
.diyw .diyApp [class^="icon-"].active,
.diyw .diyApp [class*=" icon-"].active {
  color: #e8e8e8 !important;
}
.diyw .diyApp .app-navbar-default {
  background: #63666c;
  background: -webkit-gradient(linear,left bottom,left top,color-stop(0,#63666c),color-stop(1,#96999f));
  background: -ms-linear-gradient(bottom,#63666c,#96999f);
  background: -moz-linear-gradient(center bottom,#63666c 0%,#96999f 100%);
  background: -o-linear-gradient(#96999f,#63666c);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#96999f', endColorstr='#63666c', GradientType=0);
  border: solid 1px #63666c;
}
.diyw .diyApp .app-navbar-highlight {
  background: #e8e8e8;
  background: -webkit-gradient(linear,left bottom,left top,color-stop(0,#e8e8e8),color-stop(1,#ffffff));
  background: -ms-linear-gradient(bottom,#e8e8e8,#ffffff);
  background: -moz-linear-gradient(center bottom,#e8e8e8 0%,#ffffff 100%);
  background: -o-linear-gradient(#ffffff,#e8e8e8);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e8e8e8', GradientType=0);
  border: solid 1px #e8e8e8;
}
.diyw .diyApp .app-navbar select,
.diyw .diyApp .app-navbar input,
.diyw .diyApp .app-navbar button {
  background: #fff;
  color: #a9abaf;
  border: solid 1px #a9abaf;
}
.diyw .diyApp .app-container,
.diyw .diyApp .app-container-background,
.diyw .diyApp .app-container-background-highlight,
.diyw .diyApp .app-container-background-light {
  padding: 10px;
  margin: 10px 0;
}
.diyw .diyApp .app-container-background {
  background: #63666c;
}
.diyw .diyApp .app-container-background-highlight {
  background: #e8e8e8;
}
.diyw .diyApp .app-container-background-light {
  background: #96999f;
}
.diyw .diyApp .app-button-background {
  border: solid 1px #a9abaf;
  color: #212224;
  background: #a9abaf;
  background: -webkit-gradient(linear,left bottom,left top,color-stop(0,#a9abaf),color-stop(1,#dedfe0));
  background: -ms-linear-gradient(bottom,#a9abaf,#dedfe0);
  background: -moz-linear-gradient(center bottom,#a9abaf 0%,#dedfe0 100%);
  background: -o-linear-gradient(#dedfe0,#a9abaf);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dedfe0', endColorstr='#a9abaf', GradientType=0);
}
.diyw .diyApp .app-button-disabled {
  cursor: none !important;
}
.diyw .diyApp .app-button-disabled.app-button-background {
  color: #64666b;
}
.diyw .diyApp .app-button-disabled.app-button-primary {
  color: #a3a3a3;
}
.diyw .diyApp .app-button-primary {
  border: solid 1px #b5b5b5;
  color: #212224;
  background: #b5b5b5;
  background: -webkit-gradient(linear,left bottom,left top,color-stop(0,#b5b5b5),color-stop(1,#e8e8e8));
  background: -ms-linear-gradient(bottom,#b5b5b5,#e8e8e8);
  background: -moz-linear-gradient(center bottom,#b5b5b5 0%,#e8e8e8 100%);
  background: -o-linear-gradient(#e8e8e8,#b5b5b5);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e8e8e8', endColorstr='#b5b5b5', GradientType=0);
}
.diyw .diyApp .app-navbar,
.diyw .diyApp .app-header {
  overflow: hidden;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.diyw .diyApp .app-navbar-group,
.diyw .diyApp .app-header-group,
.diyw .diyApp .app-navbar-left {
  float: left;
}
.diyw .diyApp .app-navbar-right,
.diyw .diyApp .app-header-right {
  float: right;
}
.diyw .diyApp .app-navbar-group {
  margin-right: 10px;
  overflow: hidden;
}
.diyw .diyApp .app-navbar-group.app-navbar-right {
  margin-right: 0;
}
.diyw .diyApp .app-header {
  border-bottom: solid 1px;
}
.diyw .diyApp .app-button-group {
  display: table-row;
}
.diyw .diyApp .app-button-group > * {
  display: table-cell;
}
.diyw .diyApp .app-button {
  cursor: pointer;
  display: inline-block;
  text-decoration: none !important;
  text-align: center;
}
.diyw .diyApp .app-button-group label,
.diyw .diyApp .app-button {
  margin-bottom: 0;
  padding: 6px 12px;
  vertical-align: middle;
  white-space: nowrap;
}
.diyw .diyApp .app-navbar select,
.diyw .diyApp .app-navbar input,
.diyw .diyApp .app-navbar button {
  padding: 3px;
}
.diyw .diyApp .app-navbar select option {
  padding-left: 10px;
  padding-right: 10px;
}
@media only screen and (max-width: 568px) {
  .diyw .diywebNavMain li {
    border-bottom: 1px solid #bababa;
  }
  .diyw .diywebNavMain li:last-child {
    border: none;
  }
}
.diyw .diywebContent .diyfeGridGroup:before,
.diyw .diywebHelperNav {
  background-color: #28292b;
}
.diyw .diywebHelperNav a {
  color: #999b9f !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-family: 'Courier New', Courier, monospace !important;
}
.diyw .diywebHelperNav.diywebNav123 a {
  color: #989898 !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-family: 'Courier New', Courier, monospace !important;
}
.diyw #diyfeMobileNav .mainNav1 a.current,
.diyw .diywebNavMain a.current,
.diyw #diyfeMobileNav .mainNav1 a.parent,
.diyw .diywebNavMain a.parent {
  color: #5e5e5e !important;
  border-top: solid 3px #212224;
}
.diyw .mainNav1 a:hover {
  color: #3c3c3c !important;
  text-decoration: none;
}
.diyw .diyfeCA0 .hr:before {
  background: #ebecec;
}
.diyw .diyfeCA1 .hr:before {
  background: #e8e8e8;
}
.diyw .diyfeCA2 .hr:before {
  background: #303030;
}
.diyw .diyfeCA3 .hr:before {
  background: #e8e8e8;
}
.diyw .diyfeCA4 .hr:before {
  background: #cfcfcf;
}
.diyw .diywebSecondary .mainNav2 a:hover:before,
.diyw .diywebSecondary .mainNav2 a.current:before {
  background: #e8e8e8;
}
.diyw .hr {
  position: relative;
}
.diyw .diyfeCA0 .diyfeModGridStyleTeaser .diyfeModGridElement:before {
  background: #77808c;
}
.diyw .diyfeCA1 .diyfeModGridStyleTeaser .diyfeModGridElement:before {
  background: #63666c;
}
.diyw .diyfeCA2 .diyfeModGridStyleTeaser .diyfeModGridElement:before {
  background: #a3a3a3;
}
.diyw .diyfeCA3 .diyfeModGridStyleTeaser .diyfeModGridElement:before {
  background: #6a6d72;
}
.diyw .diyfeCA4 .diyfeModGridStyleTeaser .diyfeModGridElement:before {
  background: #5c5c5c;
}
.diyw .diyfeCA0 .diyfeModGridStyleTeaser .diyfeModGridGroup {
  border-bottom: solid 1px #77808c;
}
.diyw .diyfeCA1 .diyfeModGridStyleTeaser .diyfeModGridGroup {
  border-bottom: solid 1px #63666c;
}
.diyw .diyfeCA2 .diyfeModGridStyleTeaser .diyfeModGridGroup {
  border-bottom: solid 1px #a3a3a3;
}
.diyw .diyfeCA3 .diyfeModGridStyleTeaser .diyfeModGridGroup {
  border-bottom: solid 1px #6a6d72;
}
.diyw .diyfeCA4 .diyfeModGridStyleTeaser .diyfeModGridGroup {
  border-bottom: solid 1px #5c5c5c;
}
.diyw .diywebFooter .mainNav2 a {
  color: #a1a1a1;
  font-size: 14px !important;
  font-family: 'Courier New', Courier, monospace !important;
}
.diyw .diyweb .diywebLogoArea {
  background-color: #e8e8e8;
}
body.startpage .diyw .diyfePageOpener {
  background-color: #212224;
  color: #a9abaf !important;
}
.diyw #diywebAppContainer1st {
  background-color: rgba(33,34,36,0.8);
  color: rgba(217,218,219,0.64);
}
.diyw #diywebAppContainer1st .estore_productCount span {
  color: rgba(217,218,219,0.64);
}
.diyw #diywebAppContainer1st:hover {
  background-color: rgba(33,34,36,0.9);
  color: rgba(233,233,233,0.72);
}
.diyw #diywebAppContainer1st:hover .estore_productCount span {
  color: rgba(233,233,233,0.64);
}
.diyw #diywebAppContainer1st {
  font-style: normal !important;
  font-weight: normal !important;
  font-family: 'Courier New', Courier, monospace !important;
}
@media only screen and (max-width: 767px) {
  .diyw #diywebAppContainer1st {
    background-color: #e8e8e8;
    color: #474747;
  }
  .diyw #diywebAppContainer1st .estore_productCount span {
    color: #474747 !important;
  }
}

.body {
background-image: url('https://www.smirne.com/img/background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top;
  background-size: cover;
}
