/* === Reset Supplements === */
html, body { height: 100%; }
body, p, h1, h2, h3, h4, h5, h6 { margin: 0; padding: 0; }
blockquote { padding: 0; margin: 0 0 20px; }
ul, dl, ol { margin-top: 0.5em; margin-bottom: 0.5em; }
.module ul { padding-left: 40px; }
.module ol { padding-left: 40px; }
.clear { clear: both; }
.clearover { overflow: hidden; }

/* === Module Wrapper === */
.module { padding: 5px; }
.module li[style*="center"] { list-style-position: inside; }

/* === Image Containers === */
div.imageSubtitle, div.imageSubtitle div.align-container, div.imageSubtitle div.align-container img { width: 100%; }
.imageSubtitle { min-width: 30px; }
.imageSubtitle .align-container.align-left { float: left; }
.imageSubtitle .align-container.align-center { margin: 0 auto; float: none; }
.imageSubtitle .align-container.align-right { float: right; }

/* === Grid (Social Icons) === */
.grid-group { overflow: hidden; position: relative; border-bottom: solid 1px; width: auto; }
.grid-item { box-sizing: border-box; float: left; padding: 0 15px; }
.grid-item .module { margin: 0; padding: 0; }
.grid-col-20 { width: 20%; }

/* === Logo === */
div#website-logo { line-height: 0; font-size: 0; }
div#website-logo p, div#website-logo p a { line-height: normal; }
div#website-logo p.website-logo-text { display: inline-block !important; max-width: 100% !important; }
#website-logo a.website-logo-text { max-width: 100% !important; }

/* === Table Container === */
.tableContainer { display: block; width: 100%; overflow: auto; }

/* === Content Anchors === */
div#content_start { display: none; overflow: hidden; }

/* === HR === */
div.hr { border-bottom-style: solid; border-bottom-width: 1px; margin-bottom: 5px; margin-top: 5px; text-align: left !important; }

/* === Footer === */
div#contentfooter { width: 100%; padding: 0; margin: 0; font-size: 11px; line-height: 140%; font-weight: normal; overflow: hidden; }
